# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la

# Executables
*.exe
*.out
*.app

#vs

.vs/
Debug/
Release/
SagaCross/Debug/
SagaCross/Release/
SagaCross/*.dll
SagaCross/resource/

platform/SagaCross/DerivedData/
platform/SagaCross/SagaCross.xcodeproj/xcuserdata/
platform/SagaCross/SagaCross.xcodeproj/project.xcworkspace/xcuserdata/